/* CSS Variables */

:root {
    --primary: #FFF;
    --dark:	black;
    --light: #FFF;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;   
    color: var(--dark);
}

body {
    line-height: 1.4;
    margin: 0px;
}

img {
    width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
}





/* Top Container */
.top-container {
    display: grid;
    max-width: 100%;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr;

}

.first-col {
    background: url(/img/Img1P.jpg);
    background-size: cover;
    min-height: 800px;
    color: #FFF;
    padding: 2rem;
    font-size: 1.8rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.first-col h1 {
    margin-left: 30px;
}

.second-col {
    color: #FFF;
    background: var(--dark);
    background-size: cover;
    min-height: 800px;
    padding: 2rem;
    /*display: flex;
    align-items: flex-start;
    justify-content: flex-start;*/
}

.second-col h1 {
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 4rem;
    letter-spacing: 10px;
}

.second-col p {
    margin-left: 10%;
    font-size: 2rem;
}




.middle-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.services {
    background: url(/img/Waleslandscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




/* Media Queries */
@media(max-width: 720px) {
    .top-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .top-container h1 {
        font-size: 2.5rem;
        text-align: center;
        margin: 0;
        padding: 10px;
        
    }


}

@media(max-width: 500px) {
    .top-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 40vh;
        justify-content: center;
        align-items: center;
    }

    .first-col {
        justify-content: center;
        padding: 10px;
        display: flex;
        align-self: center;
        flex-direction: column;
    }

    
    .top-container h1 {
        font-size: 2.4rem;
        justify-content: center;
        text-align: center;
        
        
    }
    
    
    .second-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second-col h1 {
        font-size: 3rem;
        letter-spacing: 10px;
    }


    .second-col p {
        margin-top: 30px;
        margin-left: 0%;
        margin-right: 0%;
        text-align: center;
        justify-content: center;
        padding: 10px;
    }
    
}